node_modules/

*hot-update*
*.bundle.js*
yarn-error.log

.parcel-cache/

dashboard/
!src/dashboard/

graphics/
!src/graphics/

extension/
!src/extension/

common/
common/replicants.js
common/useReplicants.js
!src/common/

/sound/